body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #475569;
  overflow-x: hidden;
}
.container::-webkit-scrollbar {
  width: 15px;
}
.container::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}
.container::-webkit-scrollbar-track {
  border-radius: 10px;
}
.button {
  margin-top: 20px;
}
.border_bottom {
  border-bottom: 1px solid #e2e8f0;
}
.bg_slate {
  background-color: #f1f5f9;
}
.red {
  color: #ef4444;
}
.blue {
  color: #3b82f6;
}
.green {
  color: #10b981;
}
.table {
  margin: 15px 0;
}
